APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost
APP_KEY=SomeRandomString

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=hifone
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

GITHUB_KEY=xxx
GITHUB_SECRET=xxx
GITHUB_REDIRECT_URI=http://hifone-url/auth/github/callback

FACEBOOK_KEY=xxx
FACEBOOK_SECRET=xxx
FACEBOOK_REDIRECT_URI=http://hifone-url/auth/facebook/callback

GOOGLE_KEY=xxx
GOOGLE_SECRET=xxx
GOOGLE_REDIRECT_URI=http://hifone-url/auth/google/callback

TWITTER_KEY=xxx
TWITTER_SECRET=xxx
TWITTER_REDIRECT_URI=http://hifone-url/auth/twitter/callback

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ADDRESS=null
MAIL_NAME=null
MAIL_ENCRYPTION=tls

REDIS_HOST=null
REDIS_DATABASE=null
REDIS_PORT=null
