body.dashboard {
    .wrapper {
        width: 100%;
        display: table;
        height: 100%;
        table-layout: fixed;


        table tr td .fa {
            margin-right: 4px;
        }

        .toolbar {
            margin-bottom: 15px;
        }
    }
}