$hover: #FFFAF1;
$gl-text-color: #54565B;
$gl-text-green: #4A2;
$gl-text-red: #D12F19;
$gl-text-orange: #D90;
$gl-header-color: #4c4e54;
$gl-link-color: #333c48;
$md-text-color: #444;
$md-link-color: #3084bb;
$nprogress-color: #c0392b;
$gl-font-size: 15px;
$list-font-size: 15px;
$sidebar_collapsed_width: 62px;
$sidebar_width: 230px;
$avatar_radius: 50%;
$code_font_size: 13px;
$code_line_height: 1.5;
$border-color: #dce0e6;
$table-border-color: #eef0f2;
$background-color: #F7F8FA;
$header-height: 58px;
$fixed-layout-width: 1200px;
$gl-gray: #7f8fa4;
$gl-padding: 16px;
$gl-avatar-size: 46px;

// Color schema
$white-light: #FFFFFF;
$white-normal: #DCE0E5;
$white-dark: #E4E7ED;

$gray-light: #F0F2F5;
$gray-normal: #DCE0E5;
$gray-dark: #54565b;

$green-light: #31AF64;
$green-normal: #2FAA60;
$green-dark: #2CA05B;

$blue-light: #2EA8E5;
$blue-normal: #2D9FD8;
$blue-dark: #2897CE;

$orange-light: #FC6443;
$orange-normal: #E75E40;
$orange-dark: #CE5237;

$red-light: #F43263;
$red-normal: #E52C5A;
$red-dark: #D22852;

$border-white-light: #E3E7EC;
$border-white-normal: #D6DAE2;
$border-white-dark: #C6CACF;

$border-gray-light: #DCE0E5;
$border-gray-normal: #D6DAE2;
$border-gray-dark: #C6CACF;

$border-green-light: #2FAA60;
$border-green-normal: #2CA05B;
$border-green-dark: #279654;

$border-blue-light: #2D9FD8;
$border-blue-normal: #2897CE;
$border-blue-dark: #258DC1;

$border-orange-light: #ED5C3D;
$border-orange-normal: #CE5237;
$border-orange-dark: #C14E35;

$border-red-light: #E52C5A;
$border-red-normal: #D22852;
$border-red-dark: #CA264F;

// Theme colours.
$gitamin-base-light: #fff;
$gitamin-base-medium: #f0f3f4;
$gitamin-base-dark: #333;

$gitamin-primary: #9c0;
$gitamin-secondary: #6DB81C;

$gitamin-link: #9c0;
$gitamin-link-hover: #01579b;

$gitamin-gray-light: #e8e8e8;
$gitamin-gray: #999;
$gitamin-gray-darker: #666;

$gitamin-icons: #5e5e5e;

// Statuses
$gitamin-green: $gitamin-primary;
$gitamin-dark-green: darken($gitamin-green, 10%);

$gitamin-blue: #3498db;
$gitamin-dark-blue: darken($gitamin-blue, 10%);

$gitamin-red: #ff6f6f;
$gitamin-dark-red: darken($gitamin-red, 10%);

$gitamin-teal: #0dccc0;
$gitamin-dark-teal: darken($gitamin-teal, 10%);

$gitamin-yellow: #F7CA18;
$gitamin-dark-yellow: darken($gitamin-yellow, 10%);

$gitamin-pink: #b23f73;
$gitamin-dark-pink: darken($gitamin-pink, 10%);

$gitamin-grey: #ecf0f1;
$gitamin-dark-grey: darken($gitamin-grey, 10%);

$gitamin-orange: #FF8800;
$dark-orange: darken($gitamin-orange, 10%);



// Brand colours.
$brand-primary:             darken(#428bca, 6.5%) !default;
$brand-success:             $green-normal !default;
$brand-info:                $blue-normal !default;
$brand-warning:             $orange-normal !default;
$brand-danger:              $red-normal !default;

// Default border radius
$border-radius-base:        2px !default;
$border-radius-large:       4px !default;
$border-radius-small:       1px !default;

//** Tooltip background color
$tooltip-bg:                #333 !default;
$tooltip-opacity:           .9 !default;
$base-background-color:     #f1f1f1;

$base-font-family:          "Microsoft Yahei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-weight:          400;
$base-letter-spacing:       0.08em;
$base-font-size:            15px;
$base-line-height:          1.42857143;

$base-link-color:           #9c0;
$base-link-hover-color:     #01579b;

$header-link-color:         $white-normal;
$header-link-hover-color:   $white-light;
$header-background-color:   lighten(#22354c, 10%);
$header-border-color:       1px solid darken($header-background-color, 10%);

$sidebar-transition-speed:  .2s;
$sidebar-background-color:  #F0F3F4;
$sidebar-border-color:      1px solid rgba(255, 255, 255, .1);
$sidebar-border-shadow:     inset 0px -2px 3px rgba(0,0,0,0.25);
$sidebar-text-size:         0.9em;
$sidebar-text-color:        #333;
$sidebar-text-active-color: #333;
$sidebar-normal-width:      230px;
$sidebar-phone-width:       75%;
$sidebar-active-color:      #00695C;

/*
 * State colors:
 */
$gl-primary: $blue-normal;
$gl-success: $green-normal;
$gl-info: $blue-normal;
$gl-warning: $orange-normal;
$gl-danger: $red-normal;

/*
 * Fonts
 */
$monospace_font: 'Menlo', 'Liberation Mono', 'Consolas', 'DejaVu Sans Mono', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;
$regular_font: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;

