body.forum {

.side-bar {
  padding-right: 0px;

  ul.list {
    a, a:focus, a:hover {
      color: #737373;
    }
    margin: 0;
    padding-left: 11px;
    li {
      margin-bottom: 4px;
      line-height: 18px;
    }
  }

}

}