body.forum {
    
  .user-list {
      h2 { font-size:14px; margin:0; }
      .user {
        text-align:center; margin-bottom:20px;
        overflow: hidden;;
        .avatar {
          img { width:48px; height:48px; margin: 0 auto;}
          margin-bottom: 5px;
        }
        .name {
          a { color: #333; }
        }
      }
    }

  .user-card {
    border-radius: 5px;
    padding: 8px 8px 0;
    background: #fff;
    color: #555;
    position: relative;
    .header {
      padding: 3px 0 4px 57px;
      min-height: 48px;
      position: relative;
      a {
            color: #707070;
            text-decoration: none;
      }
    }
    .footer {
      font-size: 12px;
      font-weight: 700;
      padding: 11px 0 10px;
      color: #646464;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      background: #fff;
      border-radius: 4px;
    }

    strong {
      display: block;
      color: #292f33;
      font-size: 16px;
      line-height: 1.6;
    }

    .button {
      position: absolute;
      top: 0;
      right: 8px;
      padding: 4px 8px 4px 7px;
      color: #555;
      text-shadow: 0 1px 0 #fff;
      border: 1px solid #d4d4d4;
      border-radius: 3px;
      font-size: 13px;
      font-weight: 700;
      line-height: 14px;
      background-color: #e6e6e6;
      background-image: -webkit-linear-gradient(#fafafa,#eaeaea);
      background-image: -moz-linear-gradient(#fafafa,#eaeaea);
      background-image: -ms-linear-gradient(#fafafa,#eaeaea);
      background-image: linear-gradient(#fafafa,#eaeaea);
  }

    .followable {
       cursor: pointer;
    }

    ul {
      text-transform: uppercase;
      font-size: 12px;
      color: #707070;
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid #eee;
      zoom: 1;
      &:after {
        display:block;
        content:'';
        clear:both
      }
    }
    .status li:first-child {
      border-left: 0;
      padding-left: 0;
    }
    .status li {
      float: left;
      padding: 4px 18px;
      border-left: 1px solid #eee;
      a {
        color: #707070;
        text-decoration: none;
      }
    }
  }

  .users-show{

    .users-show-avatar {
      margin: 4px 54px 0px 0px;
    }

    dl {

      dt {
        width: 110px;
        font-weight: normal;
        color: #bbb;
      }

      dd {
        margin-left: 127px;
      }

      dt, dd {
        font-size: 13px;
        line-height: 150%;
        border-bottom: 1px dashed #eee;
      }
    }

    .dl-horizontal {

      dt {
        width: 50px;
        white-space: nowrap;
        font-weight: normal;
        color: #999;
      }
      dd {
        margin-left: 58px;
      }
    }
  }

}